



body {
    font-family: 'lato', sans-serif;
  }
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
 
  
 
  li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: #84c2a1;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      color: black;
      font-family: 'Courier New', Courier, monospace;
    }
    .table-row {
      background-color:#ffffff;
      
      margin-bottom: 10px;
      box-shadow: 0px 0px 9px 0px rgba(102, 214, 190, 0.5);
    }
    .col-1 {
      flex-basis: 10%;
      color: black;
      font-family:'Courier New', Courier, monospace ;
    }
    .col-2 {
      flex-basis: 30%;
      color: black;
      font-family:'Courier New', Courier, monospace ;
    }
    .col-3 {
      flex-basis: 25%;
      color: black;
      font-family:'Courier New', Courier, monospace ;
    }
    .col-4 {
      flex-basis: 25%;
      color: black;
    }
    .total, .summary__price{
        color: black;
        font-family:'Courier New', Courier, monospace ;
        text-align: end;
        margin-top: 50px;
        }
        .boutonpanier{
            color: black;
            justify-content:right;
            margin-left: 40px;
            background-color: #08924d;
        }
        .deletoneitem{
           
            color: red;
        }
        .bouttonP{
          justify-content: space-around;
          text-decoration: none;
        }
        .input {
          width: 40px;
          margin-left: -80px !important;
        }
        /******************************************************validation order ***********************************/


    
        .cardd {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 350px;
        
        }
        
          
          .cardd :nth-child(1) {
            background-image: linear-gradient(45deg, #198f4e, #b95081);
          }
          
          .cardd:nth-child(2) {
            background-image: linear-gradient(45deg, #ccff00, #09afff);
          }
          
          .cardd:nth-child(3) {
            background-image: linear-gradient(45deg, #e91e63, #ffeb3b);
          }
        
        
        .cardd__frame {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 350px;
         height: 350px;
        }
        
        
          img {
            display: block;
            max-width: 100%;
            height: auto;
          }
        
        
        .cardd__title {
          margin: 0;
          font-weight: 700;
          letter-spacing: 0.08em;
          text-transform: uppercase;
        }
        
     
         
          
        
           
          
          
          .cardd:nth-child(1)  {
            background-image: linear-gradient(45deg, #4b86c9, #23bd68);
          }
          
          .cardd:nth-child(2)  {
            background-image: linear-gradient(45deg, #ccff00, #09afff);
          }
          
          .cardd:nth-child(3)  {
            background-image: linear-gradient(45deg, #25ce9b, #ffeb3b);
          }
        
        
      
          
          .val{
            margin-top: -70px;
            margin-bottom: 56px !important;
            color: #fff;
            margin-left: 350px !important;
            margin-right: 30px !important;
            font-size: larger;
            width: 950px !important;
          }
          .hh2{
            color: #fff;
            font-size: large;
            margin-top: 250px;
            width: 250px !important;
           
          }
          .navv-item{
            margin-right: 35px !important;
            margin-left: 60px !important;
            margin-top: 5px;
            color: #05563E !important;
            font-size:100px !important;
            font-family:Georgia, 'Times New Roman', Times, serif!important;
            justify-content: space-evenly;
            cursor: pointer;
            
    
          }
 

        /* .orderValidation{
          color:#08924d;
          font-size: xx-large;
          font-family:cursive;
        }
        .validation{
          color: black;
          font-family: 'Times New Roman', Times, serif;
          margin-top: 20px;
          border: solid;
          justify-content: center !important;
          margin-left: 450px;
          width: 450px;
        }
        .validationn{
          color: black;
          font-family: cursive;
          
        } */